<div id="content" data-sparkline-container="" data-easy-pie-chart-container="" *ngIf="isLoaded">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Radna ploča', 'Detalji proizvoda']" icon="shopping-cart" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>

    <!-- <sa-shopping-cart></sa-shopping-cart> -->
  </div>
  <!-- row -->
  <sa-widgets-grid>

    <!-- row -->

    <div class="row">

      <div class="col-sm-12 col-md-12 col-lg-12">
        <!-- product -->
        <div class="product-content product-wrap clearfix product-deatil">
          <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12 ">
              <div class="product-image">


                <carousel [interval]="3000">
                  <slide *ngFor="let slika of proizvod.slike"
                         [active]="slika.active">
                    <img class="img-responsive" src="{{slika.url}}" style="margin:auto;">
                  </slide>
                </carousel>


              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">

              <h2 class="name">
                {{proizvod.naziv}}<br>
                {{proizvod.auto.marka}}
                <small>Objavio <a (click)="(null)">Adeline</a></small>
               

              </h2>
              <hr>
              <h3 class="price-container">
                {{proizvod.cijena}} KM
                
              </h3>
              <br>
              Adresa: {{proizvod.adresa}} <br>
              Datum Objave: {{proizvod.datumObjave}} <br>

              <hr>
              <div class="description description-tabs">


                <ul id="myTab" class="nav nav-pills">
                  <li class="active"><a href="#more-information" data-toggle="tab" class="no-margin">Opis proizvoda</a></li>
                  <li class=""><a href="#specifications" data-toggle="tab">Specifikacije</a></li>
                  <li class=""><a href="#reviews" data-toggle="tab">Pitanja</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div class="tab-pane fade active in" id="more-information">
                    <br>
                    <strong>Opis</strong>
                    <p>{{proizvod.auto.opis}}</p>
                    <br>
                    <p>{{proizvod.opis}}</p>
                  </div>
                  <div class="tab-pane fade" id="specifications">
                    <br>
                    <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label><input type="checkbox" name="podizacistakala" [disabled]="true" [ngModel]="proizvod.auto.podizaciStakala"
                          class="checkbox style-0"><span>Podizaci Stakala</span></label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label><input type="checkbox" name="servo" [disabled]="true" [ngModel]="proizvod.auto.servoVolan" 
                          class="checkbox style-0"><span>Servo</span></label>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label><input type="checkbox" name="klima" [disabled]="true" [ngModel]="proizvod.auto.klima"
                          class="checkbox style-0"><span>Klima</span></label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label><input type="checkbox" name="zastita" [disabled]="true" [ngModel]="proizvod.auto.zastita"
                          class="checkbox style-0"><span>Zastita</span></label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label><input type="checkbox" name="xenoni" [disabled]="true" [ngModel]="proizvod.auto.xenoni"
                          class="checkbox style-0"><span>Xenoni</span></label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label><input type="checkbox" name="grijaciSjedista" [disabled]="true" [ngModel]="proizvod.auto.grijaciSjedista"
                          class="checkbox style-0"><span>Grijaci sjedista</span></label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label><input type="checkbox" name="siber" [disabled]="true" [ngModel]="proizvod.auto.siber"
                          class="checkbox style-0"><span>Siber</span></label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <div class="col-sm-4">
                      <label><input type="checkbox" name="registrovan" [disabled]="true" [ngModel]="proizvod.auto.registrovan"
                          class="checkbox style-0"><span>Registrovan</span></label>
                    </div>
                  </div>
                </div>
                  </div>
                  <div class="tab-pane fade" id="reviews">
                    <br>
                  <sa-pitanja></sa-pitanja>

                </div>
                </div>


              </div>
              <hr>
              <!-- <div class="row"> -->
                <!-- <div class="col-sm-12 col-md-6 col-lg-6">

                  <a (click)="(null)" class="btn btn-success btn-lg">Add to cart ($129.54)</a>

                </div> -->
                <!-- <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="btn-group pull-right">
                    <button class="btn btn-white btn-default"><i class="fa fa-star"></i> Add to wishlist </button>
                    <button class="btn btn-white btn-default"><i class="fa fa-envelope"></i> Contact Seller</button>
                  </div>
                </div> -->
              <!-- </div> -->

            </div>
          </div>
        </div>
        <!-- end product -->
      </div>

      

    </div>

    <!-- end row -->

  </sa-widgets-grid>
  <!-- end row -->
</div>
