<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Upravljanje proizvodima', 'Proizvodi']" icon="shopping-cart"
      class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>

    <!-- <sa-shopping-cart></sa-shopping-cart> -->
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Lista proizvoda</div>
    <div class="panel-body">

      <div class="row">
        <div class="form-group">
          <dx-data-grid id="gridContainer" [dataSource]="proizvodi" [showBorders]="true">
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

            <dxi-column caption="Opis" dataField="opis"></dxi-column>
            <dxi-column caption="Naziv" dataField="naziv" dataType="string" alignment="right"></dxi-column>
            <dxi-column caption="Cijena" dataField="cijena" format="currency"
              dataType="number" alignment="right" [allowGrouping]="false"></dxi-column>
            <dxi-column dataField="datumObjave" dataType="date"></dxi-column>
            <dxi-column dataField="status" dataType="string"></dxi-column>

            <dxi-column caption="Akcije" cellTemplate="akcijeCellTemplate" [width]="250"></dxi-column>

            <div *dxTemplate="let d of 'akcijeCellTemplate'">
              <div class="form-group">
                <button class="btn btn-success btn-xs mr-1"> Edituj</button>
                <button class="btn btn-warning btn-xs mr-1"> Okončaj oglas</button>
                <button class="btn btn-danger btn-xs mr-1"> Obriši</button>

              </div>
            </div>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
</div>