<aside id="left-panel">

  <!-- User info -->
  <sa-login-info></sa-login-info>
  <!-- end user info -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul saSmartMenu>
      <li>
        <a title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span
          class="menu-item-parent">{{'Dashboard' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/dashboard/analytics">{{'Analytics Dashboard' | i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span
          class="menu-item-parent">{{'Upravljanje proizvodima' | i18n}}</span></a>
        <ul>
      <li routerLinkActive="active">
        <a routerLink="/forms/wizards">{{'Dodaj novi proizvod' | i18n}}</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/forms/orders">{{'Proizvodi' | i18n}}</a>
      </li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-table"></i> <span
          class="menu-item-parent">{{'Tables' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/tables/normal">{{'Normal Tables' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/tables/datatables">{{'Data Tables' | i18n}} <span
              class="badge inbox-badge bg-color-greenLight">v1.10</span></a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/tables/ngx-datatable">{{'Ngx Datatable' | i18n}} <span
              class="badge inbox-badge bg-color-redLight">new</span></a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-lg fa-fw fa-shopping-cart"></i> <span
          class="menu-item-parent">{{'Upravljanje proizvodima ' | i18n}}</span></a>
        <ul>
          <!-- <li routerLinkActive="active">
            <a routerLink="/e-commerce/orders" title="Proizvodi"> {{'Proizvodi' | i18n}}</a>
          </li> -->
          <li routerLinkActive="active">
            <a routerLink="/e-commerce/products-view" title="Products View"> {{'Products View' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/e-commerce/product-details" title="Products Detail"> {{'Products Detail' | i18n}}</a>
          </li>
        </ul>
      </li>
      <!-- <li aside-chat></li> -->
    </ul>
  </nav>
  <!-- <sa-minify-menu></sa-minify-menu> -->
</aside>
