
  <form class="well padding-bottom-10">
    <textarea rows="2" class="form-control" [(ngModel)]="poruka.tekst" name="tekst" placeholder="Napisite poruku"></textarea>
    <div class="margin-top-10">
      <button type="button" (click)="snimiPitanje()" class="btn btn-sm btn-primary pull-right">
        Postavi pitanje
      </button>
      <a (click)="(null)" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add Location"><i class="fa fa-location-arrow"></i></a>
      <a (click)="(null)" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add Voice"><i class="fa fa-microphone"></i></a>
      <a (click)="(null)" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add Photo"><i class="fa fa-camera"></i></a>
      <a (click)="(null)" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add File"><i class="fa fa-file"></i></a>
    </div>
  </form>

  <div class="chat-body no-padding profile-message">
    <ul>
      <li class="message" *ngFor="let item of poruke">
        <!-- <img src="assets/img/avatars/1.png" class="online"> -->
        <span class="message-text">
                <a (click)="(null)" class="username">{{item.user.username}}</a>
                {{item.tekst}}
              </span>
         <ul class="list-inline font-xs">
        <li class="pull-right">
            <small class="text-muted pull-right ultra-light"> Postavljeno {{ item.datumObjave | date: 'dd/MM/yyyy hh:mm' }} </small>
          </li>
        </ul> 
      </li>
    </ul>
  </div>
